*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*MOBIIL*/
@media (max-width: 430px){

    nav {
        flex-direction: column; 
        align-items: center; 
        padding: 10px;
        width: 100%; 
    }
    /*mobiilses vaates korda menüü*/
    
    .navigating {
        display: flex;
        flex-direction: column;
        margin: 10%;
        gap: 25px;
        text-align: center;
    }
      
    .headerPicture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        
    }

    .logodHeader{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px;
        gap: 20px;
    }

    .servicesMain{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .servicesMainH2{
        display: inline-block;
    }
}


/*TAHVLI VAADE*/
@media (min-width:431px) and (max-width:1024px) {

    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .headerPicture {
        width: 50%; 
        height: auto;
    }
    

}

/*DESKTOP*/
@media (min-width: 1025px){

    .navigatingDiv {
        display: flex;
        flex-direction: row;
        padding: 60px  70px;
        margin-left: 100px;
        
    }
    .navigating {
        display: flex;
        flex-direction: column;
        width: 33%;
        gap: 40px;
    }

    .headerDivPicture{
        width: 67%;
        text-align: right;
        max-width: 700px;
    }

    .headerPicture {
        width: 70%; 
        height: auto;
    }

    h1{
        font-size: 60px;
        text-align: left;
    }

    .logodHeader{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 100px;
    }

    .servicesMain{
        margin-left: 140px;
        align-items: center;
        padding-top: 150px;
    }
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    width: 80%; 
    margin: 0 auto;
}

.navHeader, a{
    margin: 0 12px;
    color: black;
    text-decoration: none;
}


.buttonHeader {
    text-align: center;
    background-color: white;
    border: 1px solid #191A23;
    border-radius: 14px;
    padding: 20px 35px; 
    gap: 10px;
}

.buttonNavigating {
    text-align: center;
    background-color: #191A23;
    color: white;
    border: 1px solid;
    border-radius: 14px;
    padding: 20px 35px;
    align-self: flex-start;
}

p {
    font-family: "Space Grotesk";
    font-size: 18px;
}

.logodHeader{
    filter: grayscale(100%); 
}

.servicesMain{
    display: flex;
    gap: 30px;
    padding-top: 100px;
}

.servicesMainH2 {
    background-color: B9FF66;
    font-size: 40px;
    
}

.servicesBlock {

}

.servicesBlockOne {

}

.servicesBlockOneFirst {
    
}