*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*MOBIIL*/
@media (max-width: 430px){

    nav {
        flex-direction: column; 
        align-items: center; 
        padding: 10px;
        width: 100%; 
    }
    /*mobiilses vaates korda menüü*/
    
    .navigating {
        display: flex;
        flex-direction: column;
        margin: 10%;
        gap: 25px;
        text-align: center;
    }
      
    .headerPicture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        
    }

    .logodHeader{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px;
        gap: 20px;
    }

    .servicesMain, .caseStudiesText,.ourWorkingProcess, .team, .testimonials, .contactUs{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .servicesMainH2, .caseStudiesH2, .ourWorkingProcessH2, .teamH2, .testimonialsH2, .contactUsH2{
        display: inline-block;
    }

    .servicesBlockOne, .servicesBlockTwo, .servicesBlockThree{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .servicesBlockImage{
        width: 70%;
        height: auto;
    }

    .letsMakeThingsHappen{
        padding-left: 20px;
        padding-right: 20px;
    }

    .letsMakeThingsHappenBox {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .letsMakeTextAndButton {
        max-width: 90%; 
        text-align: center;
        
    }

    .letsMakeText{
        margin: 20px;
    }

    .letsMakeImg {
        max-width: 60%; 
        margin-top: 20px; 
    }

    .caseStudies{
        display: flex;
        flex-direction: column;
        background-color: #191A23;
        color: #ffff;
        border: 1px solid transparent;
        border-radius: 45px;
        padding: 20px;
        margin: 20px;
    }

    .caseStudiesHr{
        width: 100%;
        border: none;
        border: 1px solid #F3F3F3;
        margin: 10px 0;
    }

    .ourWorkingProcessHr{
        margin: 20px;
    }

    .ourWorkingProcessBoxes{
        margin: 20px;
    }
    
    .teamMembersFirstRow, .teamMembersSecondRow {
        display: flex;
        flex-wrap: wrap; 
        gap: 20px; 
        justify-content: center;
    }

    .testimonialsCardsNavigation{ 
        padding: 20px;  
    }

    .contactUsImage{
        display: none;
    }

    .contactUsFieldsInput{
        width: 300px;
        height: 40px;
        border: 1px solid black;
        border-radius: 14px;
    }

    .contactUsFieldsInputMessage{
        width: 300px;
        height: 60px;
        border: 1px solid black;
        border-radius: 14px;
    }

    .footerElements{
        align-items: center;
        flex-direction: column;
        display: flex;
        gap: 15px;
        line-height: 1.8;
    }

    .footerBlock{
        padding-top: 20px;
        width: 88%;
        margin: 0 auto;
    }
}


/*TAHVLI VAADE*/
@media (min-width:431px) and (max-width:1024px) {

    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .headerPicture {
        width: 50%; 
        height: auto;
    }
    

}

/*DESKTOP*/
@media (min-width: 1025px){

    .navigatingDiv {
        display: flex;
        flex-direction: row;
        padding: 60px  70px;
        margin-left: 100px;
        
    }
    .navigating {
        display: flex;
        flex-direction: column;
        width: 33%;
        gap: 40px;
    }

    .headerDivPicture{
        width: 67%;
        text-align: right;
        max-width: 700px;
    }

    .headerPicture {
        width: 70%; 
        height: auto;
    }

    h1{
        font-size: 60px;
        text-align: left;
    }

    .logodHeader{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 100px;
    }

    .servicesMain, .caseStudiesText, .ourWorkingProcess, .team, .testimonials, .contactUs{
        margin-left: 140px;
        align-items: center;
        padding-top: 100px;
    }

    .servicesBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicesBlockOne, .servicesBlockTwo, .servicesBlockThree{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .servicesBlockText, .servicesBlockOneImage {
        padding: 50px;
        font-size: 20px;
    }

    .letsMakeThingsHappenBox{
        display: flex;
        background-color: #F3F3F3;
        border: 1px solid transparent;
        border-radius: 45px;
        margin: 80px;
    }

    .letsMakeTextAndButton {
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }

    .letsMakeText{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        text-align: left;
        gap: 35px;
    }
    
    .letsMakeImg {
        max-width: 20%;
        height: auto;
    }
    
    .caseStudies{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #191A23;
        color: #ffff;
        border: 1px solid transparent;
        border-radius: 45px;
        width: 85%;
        padding: 50px 60px;
        margin: 0 auto;
    }

    .caseStudyOne, .caseStudyTwo, .caseStudyThree{
        margin: auto 80px;
        line-height: 1.5;
        gap: 10px;

    }
    
    .caseStudyOne p, .caseStudyTwo p, .caseStudyThree p{
        margin-bottom: 15px;
    }

    .caseStudiesHr{
        width: 2px;
        height: 200px;
        flex-grow: 1;
        border: none;
        background-color: #F3F3F3;
    }

    .ourWorkingProcessBoxes{
        margin: 60px;
        padding: 0 100px 0 50px;
    }

    .teamMembers{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .testimonialsBox{
        display: flex;
        justify-content: center;
        padding: 50px;
        align-items: center;
    }

    .testimonialsCardsNavigation {
        padding: 10px; 
        width: 70%; 
        max-width: 900px;
    }

    .testimonialsCards{
        display: flex;
        flex-direction: row;
        gap: 90px;
    }

    

    .testimonialsBubble{
        width: 400px;

    }

    .contactUsBox{
        display: flex;
        justify-content: center;
    }

    .contactUsBoxBlock{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        gap: 545px;
    }

    .contactUsForm{
        padding-left: 50px;
    }

    .contactUsFieldsInput{
        width: 500px;
        height: 40px;
        border: 1px solid black;
        border-radius: 14px;
    }

    .contactUsFieldsInputMessage{
        width: 500px;
        height: 200px;
        border: 1px solid black;
        border-radius: 14px;
    }

    .footerContacts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .footerSubScription{
        border-radius: 14px;
        width: 650px;
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footerBlock{
        padding-top: 20px;
        width: 88%;
        margin: 0 auto;
        align-items: center;
    }

    
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    width: 80%; 
    margin: 0 auto;
}

.navHeader, a{
    margin: 0 12px;
    color: black;
    text-decoration: none;
}


.buttonHeader {
    text-align: center;
    background-color: white;
    border: 1px solid #191A23;
    border-radius: 14px;
    padding: 20px 35px; 
    gap: 10px;
}

.buttonNavigating, .letsMakeButton, .teamButton, .contactUsMessage {
    text-align: center;
    background-color: #191A23;
    color: white;
    border: 1px solid;
    border-radius: 14px;
    padding: 20px 35px;
    align-self: flex-start;
}

p {
    font-family: "Space Grotesk";
    font-size: 18px;
}

.logodHeader{
    filter: grayscale(100%); 
}

.servicesMain, .caseStudiesText, .ourWorkingProcess, .team, .testimonials, .contactUs{
    display: flex;
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.servicesMainH2, .caseStudiesH2, .ourWorkingProcessH2, .teamH2, .testimonialsH2, .contactUsH2{
    background-color: B9FF66;
    font-size: 40px;
    
}

.servicesBlockOne, .servicesBlockTwo, .servicesBlockThree {
    padding: 20px;

}

.servicesBlockOneFirst, .servicesBlockTwoSecond {
    display: flex;
    background-color: #F3F3F3;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}

.greenH3{
    background-color: #B9FF66;
    text-align: left;
}

.whiteH3{
    background-color: #ffff;
    text-align: left;
    
}

.servicesBlockTextIconBlack, .servicesBlockTextIconWhite {
    width: 17%;
    height: auto;
    padding-top: 18px;
}

.servicesBlockOneImage{
    text-align: right;
}

.servicesBlockOneSecond, .servicesBlockThreeFirst{
    display: flex;
    background-color: #B9FF66;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}

.servicesBlockTwoFirst, .servicesBlockThreeSecond{
    display: flex;
    background-color: #191A23;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}

.servicesA{
    color: #ffff;
}

.servicesBlockText {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.servicesIconLink{
    margin-top: auto;
}


.letsMakeThingsHappenBox{
    display: flex;
    background-color: #F3F3F3;
    border: 1px solid transparent;
    border-radius: 45px;
    
}

.letsMakeTextAndButton{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 30px 0;
}

.letsMakeH3{
    font-size: xx-large;
}

.caseStudiesLearnMore{
    color: #B9FF66;
}

.caseStudiesIconBlack{
    width: 25px;
}

.caseStudyOne, .caseStudyTwo{
    padding-bottom: 20px;
}


.ourWorkingProcessBoxOneLabel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.ourWorkingProcessBoxOneLabel p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.stepText{
    display: flex;
    align-items: center;
    gap: 10px;
}

#toggleButton{
    margin-left: auto;
}

.ourWorkingProcessBoxes{
    border: 1px solid transparent;
    border-radius: 45px;
    background-color: #F3F3F3; 
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 0px 0px rgba(25, 26, 35, 1);
}


.hiddenContent {
    display: none; 
    margin-top: 50px;
    clear: both;
}

.hiddenContent.show {
    display: block; 
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 10px;
}

button img {
    width: 30px;
    height: 30px;
}


.ourWorkingProcessBoxes.active {
    background-color: #B9FF66; 
}

.teamCard{
    display: flex;
    flex-direction: column;
    border: 1px solid ;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 0 0 rgba(25, 26, 35, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

.teamCardUpPart{
    display: flex;
    flex-direction: row;
}

.iconSocial{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
}

.teamText{
    text-align: center;
}

.content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    gap: 10px;
}
.ourWorkingProcessHr ,.teamHr{
    width: 100%;
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}

.teamMembersFirstRow, .teamMembersSecondRow{
   display: flex;
   gap: 20px;
   padding-bottom: 20px;
}

.teamButtonContainer{
    position: relative;
}

.teamButton{
    position: absolute;
    right: 10px;
}



.testimonialsCardsNavigation{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 300px; 
    background: #000; 
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}


.testimonialsCards{
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.testimonialsBubble{
    border: 2px solid #B9FF66;
    border-radius: 15px;
    margin: 5px;
    min-width: 300px;
    height: 230px;
    box-sizing: border-box;
    overflow: visible;
    color: #F3F3F3;
    word-wrap: break-word;
    flex: auto;
    position: relative;
}

.testimonialsBubble::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #B9FF66;
    background: transparent;
}

.testimonialsCards1,.testimonialsCards2, .testimonialsCards3{
    color: #F3F3F3;
    text-align: left;
    
}

.testimonialsName{
    color: #B9FF66;
}

.testimonialsP{
    padding-top: 40px;
    padding-left: 60px;
}

.testimonialsNavigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.testimonialsArrowLeft, .testimonialsArrowRight {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.testimonialsNavigationStars {
    flex: 1;
    text-align: center;
}

.contactUsBox{
    padding-bottom: 30px;
}

.contactUsBoxBlock{
    background-color: #F3F3F3;
    border: 1px solid transparent;
    border-radius: 45px;
    padding: 25px;
    margin: 10px;
    
}

.contactUsRadioButtons{
    font-size: large;
}

input[type="radio"] {
    accent-color: #B9FF66;
}

.contactUsLabel{
    padding-right: 20px;
}

.contactUsFields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
}

.contactUsFieldsInputMessage{
    padding-top: 20px;
}

.footerBlock{
    background-color: #191A23;
    color: white;
    gap: 20px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footerA, .footerBr {
    color: #F3F3F3;
}

.footerSocialIcons {
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.footerContactUsH3{
    color: #191A23;
}

.footerContactUsSpan{
    background-color: #B9FF66;
}

.footerSubScription{
    background-color: rgba(41, 42, 50, 1);
}

.footerEmail{
    border: 1px solid #F3F3F3;
    background-color: #191A23;
    color: #F3F3F3;
    text-indent: 10px;
}

.footerButton{
    text-align: center;
    background-color: #B9FF66;
    color: #191A23;
    border: 1px solid;
}

.footerEmail, .footerButton{
    width: 285px;
    height: 67px;
    border-radius: 14px;
    font-size: 18px;
    padding: 20px 35px;
}

.footerContactUs{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 20px;
}

.footerLine{
    display: block;
    border-bottom: 1px solid white;
}

.footerText a{
    text-decoration: underline;
    margin-left: 80px;
    color: #F3F3F3;
}

html {
    scroll-behavior: smooth;
  }